//output:$1.html
html(lang="no")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Fira+Mono:400,700", rel="stylesheet")
    // Local styles
    link(rel="stylesheet", href="Shared/terminal.css")
  body
    .terminal
      .content
        // line 1
        span.line#l1 ::> Initializing G_TERMINAL...
        br
        // line 2
        span.line#l2 ::> Connecting...
        br
        // line 3
        span.line#l3 ::> Initializing InputStream()...
        br
        // line 4
        span.line#l4 ::> Incoming transmission:
        br
        // line 5
        span.line.bin-code#l5 ::> 00100000 01000011 01100001 01110010 01101111 01101100 01101001 01101110 01100101
        br
        // line 6
        span.line.bin-code#l6 ::> 01000011 01100001 01110010 01101111 01101100 01101001 01101110 01100101
        br
        // line 7
        span.line.bin-code#l7 ::> 01010011 01110100 01100001 01110100 01110101 01110011 00111010
        br
        // line 8
        span.line.bin-code#l8 ::> 01001111 01101110 01100111 01101111 01101001 01101110 01100111
        br
        // line 9
        span.line#l9 ::> !EOF
        br
        // line 10
        span.line#l10 ::> Closing InputStream()...
        br
        // line 11
        span.line#l11 ::> !Connection Lost
        br
        // line 12
        span.line#l12 ::> Shutting Down...
        br
        // Terminal input
        span#cursor-container >
          span#cursor &nbsp;|
