//output:$1.html
html(lang="no")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // Local styles
    link(rel="stylesheet", href="Shared/Main.css")
    link(rel="stylesheet", href="Shared/Fonts.css")
    link(rel="stylesheet", href="Shared/RoadAhead.css")
  body
    .row#what-is-it
      .column-3
      .column-4
        h1 What Is It
        p Artificial Intelligence (AI), is usually defined as the science of making 
          | computers do things that require intelligence when done by humans. 
          | The term was first used in 1965 by Stanford researcher John McCarthy. 
          | Since 1965 the progress has been slow, but for the last years the research and progress has increast. 
          | There are tw o types of artificial intelligence, General AL and Narrow AL.
