/* Container kode. */
#chip {
    width: 100vw;
    height: 46.875vw;
    background: url('../Imgs/Chip.png');
    background-size: 100%;
    color: white;
    margin: auto;
    position: relative;
    overflow: hidden;
}

/* Chip kode. */
#chip .chip-info {
    width: 18.2vw;
    height: 18.2vw;
    background: rgba(0,0,0,.0);
    position: absolute;
    transition: all 300ms ease-in-out;
}

#chip .chip-info:hover {
    background: rgba(0,0,0,.3);
}

#chip .chip-info:hover h1, #chip .chip-info:hover p {
    opacity: 1;
}

#chip .chip-info:hover #c-more {
    opacity: 0;
}

#chip #c-1 {
    top: 2.1vw;
    left: 10.3vw;
}

#chip #c-2 {
    top: 2.1vw;
    left: 40.9vw;
}

#chip #c-3 {
    top: 2.1vw;
    left: 71.5vw;
}

#chip #c-4 {
    top: 26.6vw;
    left: 10.3vw;
}

#chip #c-5 {
    top: 26.6vw;
    left: 40.9vw;
}

#chip #c-6 {
    top: 26.6vw;
    left: 71.5vw;
}

#chip h1 {
    font-size: 1.7vw;
    opacity: .7;
    transition: all 300ms ease-in-out;
}

#chip p {
    width: 92%;
    padding: 4%;
    margin: 0;
    font-size: 1vw;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

#chip #c-more {
    width: 50%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 48%;
    left: 25%;
    opacity: 1;
    transition: all 300ms ease-in-out;
}
/* Huskeliste for andre ting: Trigger.
#container:hover #boks1{  Hvis du peker på #container, skal det følgende skje med elementet som er #boks1
    opacity: 0;
} */

/* #boks1:hover{  Hvis du peker på #boks1, skal det følgende skje.
    height: 700px;
} */
