/* Container kode. */
#container {
    width: 1920px;
    height: 900px;
    background-color: dimgray;
    margin: auto;
    position: relative;
}

/* Chip kode, husk å putte et bilde her. */
#chip {
    width: 500px;   /* Høyde og bredde er bare et eksempel, må tilpasse dette når jeg får åpnet PSD filen. */
    height: 400px;
    border: 2px solid lightblue;
    background-color: red;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 100px;
    opacity: 1;
    transition: opacity 300ms ease-in-out
}

/* Chip hover. Skal fade litt ut så teksten som kommer opp blir med synlig. */
#chip:hover {
    opacity: 0.5;
}

#chiptxt {
    opacity: 0;
}

#chiptxt:hover {
    opacity: 1;
}

/* Chip text. Denne teksten skal være skjult, men når man hover over et chip, skal den bli synlig. */
#chip p {
    opacity: 0;
    color: #eee;
    position: relative;
    transition: all 300ms ease-in-out;
}

/* Tekst hover inni chip. */
#chip:hover p {
    opacity: 1;
}


/* Huskeliste for andre ting: Trigger. 
#container:hover #boks1{  Hvis du peker på #container, skal det følgende skje med elementet som er #boks1 
    opacity: 0;
} */

/* #boks1:hover{  Hvis du peker på #boks1, skal det følgende skje. 
    height: 700px;
} */