#kai-row-howitworks {
    background-color: #bbb;
    height: 500px;
    overflow: hidden;
}

#kai-row-howitworks h1{
    margin: 70px 0px;
}

#kai-row-howitworks #img {
    background: url('../Imgs/HowItWorks/AI_types.jpg');
    background-position: center;
    background-size: 100% auto;
    background-color: #000;
    background-repeat: no-repeat;
    border-right: 8px #eee solid;
}

#kai-row-howitworks #content {
    background-image: url("../Imgs/img_00142.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
