#kai-row-howitworks {
        background-color: #bbb;
        height: 500px;
        overflow: hidden;
}

#kai-row-howitworks #img {
    background: url('../Imgs/HowItWorks/AI_types.jpg');
    background-position: center;
    background-size: 100% auto;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
