/*#container *{
    position: relative;
}*/
#containerSplash{
    height: 100%;
    width: 100%;
    background-color: #eee;
    padding-top: 100px
}

h1{
  margin-top: 0;
  font-size: 5em;
}

p{
  margin-top: 100px;
    font-size: 3em;
}

#buttons{
    height: 350px;
    width: 100%;
    margin-top: 150px;
    display: flex;
}
#Sub{
    width: 50%;
}
#Sub{
    width: 50%;
}
a{
    display: block;
    background: #0074D9;
    border: 8px solid #7FDBFF;
    border-radius: 15px;
    width: 40%;
    margin: 0 30%;
    padding: 5% 0;
    font-size: 3em;
    text-align: center;
    transition: background 300ms ease-in-out
}
a:hover{
    background: #7FDBFF;
}
