
#road-ahead
  height: 600px
  
  #img-container
    position: absolute
    height: 600px
    width: 1067px
    top: 0
    left: -775px
    transform: skewX(-45deg)
    overflow: hidden
    border-right: 8px solid rgba(0,0,0,0.3)
    transition: all 800ms ease-in-out

    &:hover
      right: 300px

      img
        left: 300px

    img
      height: 600px
      position: absolute
      right: -750px
      transform: skewX(45deg)
      transition: all 800ms ease-in-out

  #content
    padding-left: 620px
